*.o
*.pyc
*.pyo
*.tmp
.*.swp
.*.swo
*~
.DS_Store
.sass-cache/
*.egg-info/

docs/build/

*-eggs/
.mr.developer.cfg
.installed.cfg
bin/
parts/
readline-*.egg/
lib/
include/
.Python

docs/Makefile
docs/make.bat

build-docs/
dist/
