[buildout]
parts =
    python
    sphinxbuilder
develop = .

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = awsfabrictasks

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/docs
build = ${buildout:directory}/build-docs
interpreter = ${buildout:bin-directory}/python
